.Location_container{
    background-color: #ebbe00;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 0;
    background-color: #ebbe00;
    padding-bottom: 20px;
}

.Location_con{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.Location_stlye{
    width: fit-content;
    line-height: 2rem;
    color: #000;
    text-decoration: none;
}

@media (max-width:767px) {
    .Location_main{
        display: none;
    }
}